## Default values for IT Tools

## @section Image parameters

## @param image.repository The Docker repository to pull the image from.
## @param image.tag The image tag to use.
## @param image.imagePullPolicy The logic of image pulling.
##
image:
  repository: ghcr.io/corentinth/it-tools
  tag: "2024.10.22-7ca5933@sha256:8b8128748339583ca951af03dfe02a9a4d7363f61a216226fc28030731a5a61f"
  imagePullPolicy: IfNotPresent

## @section Deployment parameters

## @param replicaCount The number of replicas to deploy.
## @param updateStrategy The update strategy for the deployment.
##
replicaCount: 1
updateStrategy: {}
# updateStrategy:
#   type: RollingUpdate
#   rollingUpdate:
#     maxSurge: 1
#     maxUnavailable: 0

## @section Pod spec parameters

## @param resources If specified, it sets the resource requests and limits for the pod.
## @param nodeSelector Node selector for pod placement (empty object = no node selector).
## @param tolerations Tolerations for pod placement (empty list = no tolerations).
##
resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "200m"
nodeSelector: {}
tolerations: []

## @section Service parameters

## @param service.type The Kubernetes service type.
## @param service.port The service port.
## @param service.targetPort The container port to target.
##
service:
  type: ClusterIP
  port: 80
  targetPort: 80
